.quote {
  width: 50%;
  padding-left: 13rem;
  padding-right: var(--leftRight-padding);
  margin-bottom: 40rem;
}

@media (max-width: 900px) {
  .quote {
    padding: 5%;
    display: block;
    margin: auto;
  }
}
