.associates {
  margin-left: var(--leftRight-padding);
  margin-right: var(--leftRight-padding);
  background-color: var(--green-l1);
  padding: 5rem;
  padding-top: 7.5rem;
}

.associates h3 {
  margin-top: 0;
  margin-bottom: 3.75rem;
}

@media (max-width: 900px) {
  .associates {
    padding: 1rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
