.review {
  display: flex;
  flex-direction: column;
  background-color: var(--green-l1);
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.review__wrapper {
  display: flex;
  gap: 3rem;
}
