.whoAreWe {
  position: relative;
  margin-top: var(--section-margin-top);
  display: flex;
  gap: 5rem;
}

.whoAreWe__readMore {
  position: absolute;
  bottom: 0px;
}

@media (max-width: 1320px) {
  .whoAreWe {
    flex-direction: column;
  }
}
