.whatIsPositivePsychology {
  padding-left: var(--leftRight-padding);
  padding-right: var(--leftRight-padding);
  padding-top: var(--leftRight-padding);
}

.whatIsPositivePsychology__wrapper {
  padding-left: var(--leftRight-padding);
  padding-right: 20rem;
  margin-bottom: var(--leftRight-padding);
}

.whatIsPositivePsychology__flex {
  display: flex;
  gap: 5rem;
}

.whatIsPositivePsychology__flex div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.whatIsPositivePsychology__flex p {
  padding-right: 5rem;
}

@media (max-width: 1350px) {
  .whatIsPositivePsychology__wrapper {
    padding: 0;
  }
}

@media (max-width: 1250px) {
  .whatIsPositivePsychology__flex {
    flex-direction: column;
  }

  .whatIsPositivePsychology__flex img {
    display: block;
    margin: auto;
  }
}

@media (max-width: 900px) {
  .whatIsPositivePsychology {
    padding: 5%;
  }
}

@media (max-width: 500px) {
  .whatIsPositivePsychology__flex img {
    width: 335px;
    height: auto;
  }
}
