.landingpage {
  background-color: var(--landingpage-bg-color);
  padding-left: var(--leftRight-padding);
  padding-right: var(--leftRight-padding);
  height: 55rem;
}

.landingpage__wrapper {
  padding-top: 10rem;
}

.landingpage__wrapper h3 {
  color: var(--green-l2);
  font-size: var(--font-size-22);
  margin: 0;
}

.landingpage__wrapper h1 {
  margin-top: 0;
  color: var(--yellow);
}

.landing__wrapper__flex {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.landing__wrapper__flex p,
.landing__wrapper__flex a {
  color: var(--green-l2);
}

.landing__wrapper__flex a {
  font-family: var(--paragraph-font-family);
  font-size: var(--paragraph-font-size);
}

.landingpage img {
  display: flex;
  justify-self: end;
}

.landingpage__buttons {
  margin-top: 5rem;
  display: flex;
  gap: 4rem;
  justify-content: flex-start;
  flex-direction: row;
}

@media (max-width: 1270px) {
  .landingpage {
    height: auto;
    padding: 5%;
  }

  .landingpage__wrapper {
    padding-top: 0;
  }

  .landing__wrapper__flex {
    flex-direction: column;
  }

  .landing__wrapper__flex img {
    width: auto;
    height: auto;
    order: 2;
  }

  .landing__wrapper__flex div {
    order: 3;
  }
}

@media (max-width: 400px) {
  .landingpage__buttons {
    gap: 1rem;
  }
}
