.courseCard {
  width: min-content;
  background-color: #ffffff;
}

.courseCard p {
  font-size: var(--label-font);
}

.courseCard button {
  background-color: var(--moreInfor-button-color);
  border: none;
  font-size: var(--paragraph-font-size);
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.courseCard button img {
  position: relative;
  top: 0.1rem;
  margin-left: 0.5rem;
}

.courseCard__flex {
  display: flex;
  justify-content: space-between;
}

.corseCard__label {
  color: var(--courseCard-green-color);
  background-color: var(--label-color);
  font-size: var(--courseCard-label-font-size);

  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 2rem;

  position: relative;
  top: 0.25rem;

  margin-top: 0;
  align-self: center;
}

.courseCard__flex h3 {
  color: var(--courseCard-green-color);
  font-size: var(--paragraph-font-size);
}

.courseCard__container {
  padding: 2.5rem;
}

.courseCard__description {
  margin-top: 0;
  margin-bottom: 5rem;
  font-size: var(--courseCard-description-font-size);
}
