.ourMethod {
  padding: var(--leftRight-padding);
  padding-right: 0;
  padding-bottom: 0;
  display: flex;
  gap: 5rem;
}

.ourMethod h2 {
  margin-top: 0;
}

.ourMethod__mobile {
  display: none;
}

@media (max-width: 1200px) {
  .ourMethod {
    flex-direction: column;
  }

  .ourMethod__mobile {
    display: block;
  }

  .ourMethod__wrapper__image img {
    display: block;
    margin: auto;
  }

  .ourMethod__wrapper p:nth-last-child(1) {
    display: none;
  }
}

@media (max-width: 900px) {
  .ourMethod {
    padding: 5%;
    background-color: var(--green-l1);
  }

  .ourMethod__wrapper__image img {
    width: 335px;
    height: auto;
  }
}

@media (min-width: 2000px) {
  .ourMethod {
    padding-left: 20%;
    padding-right: 20%;
  }
}
