.readMore p {
  margin: 0;
}

.readMore a {
  color: var(--lightGreen-color);
  font-size: var(--paragraph-font-size);
  text-decoration-color: var(--lightYellow-color);
  text-decoration-thickness: 0.2rem;
}

.readMore img {
  position: relative;
  margin-left: 0.5rem;
  top: 0.2rem;
}
