.readMore p {
  margin: 0;
}

.readMore a {
  color: var(--lightGreen-color);
  text-decoration: underline;
  text-decoration-color: var(--lightYellow-color);
  font-size: var(--font-size-24);
}

.readMore img {
  position: relative;
  margin-left: 0.5rem;
  top: 0.2rem;
}
