.footer {
  padding: 10rem;
  padding-top: 0rem;
  padding-block: 2rem;
  background-color: var(--green-d1);
  color: var(--footer-text-color);
}

.footer a,
.footer p {
  color: var(--green-l1);
  text-decoration: none;
  font-size: var(--font-size-20);
  line-height: 1rem;
}

.footer a {
  background-image: linear-gradient(var(--yellow), var(--yellow));
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  background-size: 100% 0.1em;
}

.footer h3 {
  font-size: var(--navbar-font-size);
  font-weight: 600;
  margin-top: 2.5rem;
  color: var(--green-l1);
}

.footer__flex {
  display: flex;
  justify-content: space-between;
}

.footer__wrapper__logo {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

@media (max-width: 950px) {
  .footer {
    padding: 5%;
  }
}

@media (max-width: 750px) {
  .footer a,
  .footer p {
    font-size: var(--font-size-12);
  }

  .footer h3 {
    font-size: var(--font-size-12);
  }
}

@media (max-width: 550px) {
  .footer__flex {
    display: flex;
    flex-direction: column;
  }

  .footer__flex div:nth-last-child(1) {
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 0;
  }

  .footer__flex div:nth-last-child(1) p {
    display: none;
  }
}
