.footer {
  padding: 10rem;
  padding-top: 0rem;
  background-color: var(--lightGreen-color);
  color: var(--footer-text-color);
}

.footer a,
.footer p {
  color: var(--green-l1);
  text-decoration: none;
  font-size: var(--font-size-20);
}

.footer h3 {
  font-size: var(--navbar-font-size);
  font-weight: 600;
  margin-top: 5rem;
  color: var(--green-l1);
}

.footer__flex {
  display: flex;
  justify-content: space-between;
}

.footer__wrapper__logo {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__wrapper__logo a {
  text-decoration: underline;
  text-decoration-color: var(--lightYellow-color);
}

@media (max-width: 950px) {
  .footer {
    padding: 5%;
  }
}

@media (max-width: 750px) {
  .footer a,
  .footer p {
    font-size: var(--font-size-12);
  }

  .footer h3 {
    font-size: var(--font-size-12);
  }
}

@media (max-width: 550px) {
  .footer__flex {
    display: flex;
    flex-direction: column;
  }

  .footer__flex div:nth-last-child(1) {
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 0;
  }

  .footer__flex div:nth-last-child(1) p {
    display: none;
  }
}
