.future {
  padding: var(--leftRight-padding);
  display: flex;
  gap: 5rem;
}

.future h2 {
  margin-top: 0;
}

.future__wrapper {
  position: relative;
}

.future__wrapper p:nth-last-child(1) {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}

@media (max-width: 1050px) {
  .future {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .future {
    padding: 5%;
  }
}
