.coursePrice {
  padding: var(--leftRight-padding);
}

.coursePrice__course {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  background-color: var(--green-l1);
}

.coursePrice__course img:nth-child(1) {
  width: 342px;
  height: 324px;
}

.coursePrice__course__wrapper {
  padding: 2rem;
  padding-right: 0;
  width: 70%;
}

.coursePrice__course__order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  padding-left: 0;
}

.coursePrice__form {
  padding: 1rem;
}

.coursePrice__form__flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.coursePrice__form__flex input {
  width: 10rem;
}

@media (max-width: 900px) {
  .coursePrice {
    padding: 5%;
  }
}
