.quote2 {
  padding-top: calc(var(--margin-top-150) * 2);
  padding-bottom: calc(var(--margin-top-150) * 2);
  display: flex;
  gap: 7.5rem;
  padding-right: 15rem;
  background-color: var(--green);
}

.quote2__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote2__text p {
  color: var(--green-l2);
}

@media (max-width: 1050px) {
  .quote2 {
    flex-direction: column;
    padding: 5%;
  }

  .quote2 img {
    display: block;
    margin: auto;
  }
}

@media (max-width: 700px) {
  .quote2 {
    gap: 3rem;
  }

  .quote2 img {
    width: 335px;
    height: auto;
  }
}

@media (min-width: 2000px) {
  .quote2 {
    padding-left: 20%;
    padding-right: 20%;
  }
}
