.quote2 {
  margin-top: var(--leftRight-padding);
  display: flex;
  padding-right: 15rem;
}

.quote2 p {
  margin-left: 5rem;
  display: flex;
  align-items: center;
}

@media (max-width: 1050px) {
  .quote2 {
    flex-direction: column;
    padding: 5%;
  }

  .quote2 img {
    display: block;
    margin: auto;
  }
}

@media (max-width: 700px) {
  .quote2 img {
    width: 335px;
    height: auto;
  }
}

@media (min-width: 2000px) {
  .quote2 {
    padding-left: 20%;
    padding-right: 20%;
  }
}
