.martine {
  display: flex;
  gap: 5rem;
  margin-top: var(--section-margin-top);
  margin-bottom: var(--section-margin-top);
}

@media (max-width: 1250px) {
  .martine {
    flex-direction: column;
    gap: 1rem;
  }

  .martine img {
    display: block;
    margin: auto;
    width: 335px;
    height: auto;
    order: -1;
  }
}
