@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  background-color: white;
  overflow: hidden;
  position: relative;
}

.slider::before,
.slider::after {
  content: '';
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  right: 0;
}

.slide__track {
  animation: scroll 20s linear infinite;
  display: flex;
  gap: 20rem;
  width: calc(250px * 7);
}

.slide {
  height: 100px;
  width: 250px;
}
