.companies {
  padding-top: var(--leftRight-padding);
  padding-bottom: var(--leftRight-padding);
  padding-bottom: 0;
}

.companies__wrapper {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  position: relative;
  overflow: hidden;
}

.companies__wrapper img {
  position: relative;
  left: -1000px;
}

@media (max-width: 1000px) {
  .companies {
    padding: 5%;
  }
}

@media (max-width: 900px) {
  .companies {
    padding: 5%;
  }
}

@media (max-width: 800px) {
  .companies__wrapper img {
    width: 25%;
    height: auto;
  }
}
