.courses {
  margin-top: var(--section-margin-top);
  background-color: var(--landingpage-bg-color);
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.courses__text h2,
.courses__text p {
  color: var(--font-white-color);
  margin: 0;
}

.courses__text p {
  line-height: 2rem;
  margin-left: 7rem;
  margin-top: 0.8rem;
  width: 35rem;
}

.courses__text {
  display: flex;
}

.courses__course {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1350px) {
  .courses__course {
    flex-direction: column;
  }

  .courses__text {
    flex-direction: column;
    margin: 0;
  }

  .courses__text p {
    width: auto;
  }
}
