.courses {
  background-color: var(--green);
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.courses__text h2,
.courses__text p {
  color: var(--font-white-color);
  margin: 0;
}

.courses__text p {
  line-height: 2rem;
  margin-left: 7rem;
  margin-top: 0.8rem;
  width: 35rem;
}

.courses__text {
  display: flex;
}

.courses__course {
  margin-top: 5rem;
  display: flex;
  gap: 0.938rem;
  justify-content: center;
}

@media (max-width: 1350px) {
  .courses__course {
    flex-direction: column;
  }

  .courses__text {
    gap: 2rem;
    margin: 0;
  }

  .courses__text p {
    width: auto;
    margin: 0;
    margin-top: 0.825rem;
  }
}

@media (max-width: 1150px) {
  .courses__text {
    margin-top: 4rem;
    flex-direction: column;
    gap: 0;
  }
}
