.invest {
  padding-top: var(--leftRight-padding);
  padding-bottom: var(--leftRight-padding);
  width: 50%;
}

.invest p {
  width: 80%;
}

@media (max-width: 800px) {
  .invest {
    width: auto;
  }

  .invest p {
    width: 100%;
  }
}
