@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/jakarta/PlusJakartaSans-Regular.woff');
}

@font-face {
  font-family: 'Plus Jakarta Sans Italic';
  src: url('/fonts/jakarta/PlusJakartaSans-Italic.woff');
}

@font-face {
  font-family: 'Plus Jakarta Sans Bold';
  src: url('/fonts/jakarta/PlusJakartaSans-Bold.woff');
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/dm/DMSans-Regular.ttf');
}

@font-face {
  font-family: 'DM Sans Medium';
  src: url('/fonts/dm/DMSans-Medium.ttf');
}

@font-face {
  font-family: 'DM Sans Bold';
  src: url('/fonts/dm/DMSans-Bold.ttf');
}

@font-face {
  font-family: 'DM Sans Italic';
  src: url('/fonts/dm/DMSans-Italic.ttf');
}

:root {
  /* Colors */
  --green-l1: #e8f3e5;
  --green-l2: #f7fdf5;
  --green-d1: #0d534f;
  --green: #0e645f;
  --yellow: #ffd526;
  --white: #ffffff;

  /* Colors */
  --landingpage-bg-color: #0e645f;
  --lightGreen-color: #0e5a56;
  --courseCard-green-color: #10534f;
  --superLight-green-color: #eaf1e7;
  --overall-bg-color: #f7fdf5;
  --font-white-color: #edf9ea;
  --label-color: #e9f6e4;
  --footer-text-color: #cbe1c4;
  --font-yellow-color: #ffd526;
  --lightYellow-color: #ffe36d;
  --moreInfor-button-color: #ffd216;
  --contact-font-color: #cbe1c4;

  /* Jakarta */
  --jakarta-regular-font-family: 'Plus Jakarta Sans';
  --jakarta-bold-font-family: 'Plus Jakarta Sans Bold';
  --jakarta-italic-font-family: 'Plus Jakarta Sans Italic';
  --jakarta-medium-font-family: 'Plus Jakarta Sans Medium';

  /* DM sans*/
  --DM-Sans-regular-font-family: 'DM Sans';
  --DM-Sans-bold-font-family: 'DM Sans Bold';
  --DM-Sans-italic-font-family: 'DM Sans Italic';
  --DM-Sans-medium-font-family: 'DM Sans Medium';

  /* Font size*/
  --font-size-96: 6rem;
  --font-size-72: 4.5rem;
  --font-size-60: 3.75rem;
  --font-size-52: 3.25rem;
  --font-size-42: 2.625rem;
  --font-size-32: 2rem;
  --font-size-28: 1.75rem;
  --font-size-26: 1.625rem;
  --font-size-24: 1.5rem;
  --font-size-22: 1.375rem;
  --font-size-20: 1.25rem;
  --font-size-18: 1.125rem;
  --font-size-16: 1rem;
  --font-size-14: 0.875;
  --font-size-12: 0.75rem;
  --font-size-10: 0.625rem;

  /* Font Weight */
  --bold: 700;

  /* Paragraph */
  --paragraph-font-weight: 400;
  --paragraph-font-family: 'DM Sans';

  /* hyperlink */

  /* Quotes */

  /* Section Margin */
  --section-margin-top: 18.75rem;

  --leftRight-padding: 9.375rem;

  /* Navbar */
  --logo-font-weight: 700;
  --logo-font-size: 1.5rem;
  --navbar-font-color: #000000;
  --navbar-font-size: 1.25rem;
}

body {
  margin: 0;
  background-color: var(--green-l2);
}

#section {
  padding-left: var(--leftRight-padding);
  padding-right: var(--leftRight-padding);
}

@media (max-width: 900px) {
  :root {
    --section-margin-top: 2rem;
  }

  #section {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (min-width: 2000px) {
  #section {
    padding-left: 20%;
    padding-right: 20%;
  }
}

h4 {
  font-family: var(--DM-Sans-regular-font-family);
  font-size: var(--courseCard-label-font-size);
}

h3 {
  font-family: var(--jakarta-regular-font-family);
  font-size: var(--font-size-32);
  font-weight: var(--bold);
  color: var(--green-d1);
}

h2 {
  font-family: var(--jakarta-bold-font-family);
  font-size: var(--font-size-42);
  color: var(--lightGreen-color);
  font-weight: var(--bold);
}

h1 {
  font-family: var(--jakarta-regular-font-family);
  font-size: var(--font-size-60);
  font-weight: var(--bold);
  color: var(--green-d1);
}

/* Text Classes */
.smallesText {
  font-family: var(--DM-Sans-regular-font-family);
  font-size: var(--font-size-16);
}

.smallText {
  font-family: var(--DM-Sans-regular-font-family);
  font-size: var(--font-size-18);
  color: var(--green-d1);
}

.source {
  font-family: var(--DM-Sans-italic-font-family);
  font-size: var(--font-size-18);
}

.meny {
  font-family: var(--jakarta-medium-font-family);
  font-size: var(--font-size-20);
}

.bodyText {
  font-family: var(--DM-Sans-regular-font-family);
  font-size: var(--font-size-22);
}

.navbarLogo {
  font-family: var(--jakarta-medium-font-family);
  font-size: var(--font-size-24);
}

.graphic {
  font-family: var(--jakarta-bold-font-family);
  font-size: var(--font-size-72);
}

.bigGraphic {
  font-family: var(--jakarta-bold-font-family);
  font-size: var(--font-size-96);
}

.bigQuote {
  font-family: var(--jakarta-italic-font-family);
  font-size: var(--font-size-32);
}

.ingress {
  font-family: var(--DM-Sans-regular-font-family);
  font-size: var(--font-size-26);
}

.menyBold {
  font-family: var(--DM-Sans-regular-font-family);
  font-size: var(--font-size-20);
}

.courseBold {
  font-family: var(--DM-Sans-bold-font-family);
  font-size: var(--font-size-22);
}

p {
  font-family: var(--DM-Sans-regular-font-family);
  font-size: var(--font-size-22);
  color: var(--lightGreen-color);
  margin-top: 0;
}

a {
  color: var(--lightGreen-color);
  text-decoration: none;
  font-size: var(--hyperlink-font-size);
  font-weight: var(--paragraph-font-weight);
  font-family: var(--paragraph-font-family);
}

ul li {
  font-family: var(--DM-Sans-regular-font-family);
  font-size: var(--font-size-22);
  margin-bottom: 1rem;
  color: var(--green-d1);
}

@media (max-width: 900px) {
  img {
    height: auto;
    width: auto;
  }

  h4 {
    font-size: var(--font-size-12);
  }

  h3 {
    font-size: var(--font-size-18);
  }

  h2 {
    font-size: var(--font-size-24);
  }

  h1 {
    font-size: var(--font-size-28);
  }

  .smallesText {
    font-size: var(--font-size-10);
  }

  .smallText {
    font-size: var(--font-size-12);
  }

  .source {
    font-size: var(--font-size-10);
  }

  .menny {
    font-size: var(--font-size-12);
  }

  .bodyText {
    font-size: var(--font-size-14);
  }

  .navbarLogo {
    font-size: var(--font-size-14);
  }

  .graphic {
    font-size: var(--font-size-42);
  }

  .bigGraphic {
    font-size: var(--font-size-52);
  }

  .bigQuote {
    font-size: var(--font-size-18);
  }

  .ingress {
    font-size: var(--font-size-16);
  }

  .menyBold {
    font-size: var(--font-size-12);
  }

  .courseBold {
    font-size: var(--font-size-14);
  }

  p {
    font-size: var(--font-size-14);
  }

  a {
    font-size: var(--font-size-14);
  }

  ul li {
    font-size: var(--font-size-14);
  }
}
